<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3 th:text="'Detail Jabtatan ' + ${jabatan.nama}"></h3>
		<table>
			<tr>
				<td width="200" height="50">Nama</td>
				<td th:text="${jabatan.nama}"></td>
			</tr>
			<tr>
				<td height="50">Deskripsi</td>
				<td th:text="${jabatan.deskripsi}"></td>
			</tr>
			<tr>
				<td height="50">Gaji Pokok</td>
				<td th:text="${jabatan.gajiPokok}"></td>
			</tr>
		</table>
		<br>
		<div class="row"  style="margin-left: 5px; margin-top: -10px">
			<div class="col-md-0">
				<form action="/jabatan/ubah" id="ubahJabatan" method="get">
					<input type="hidden" name="idJabatan" th:value="${jabatan.id}"/>
					<input class="btn btn-primary" type="submit" value="Ubah">
				</form>
			</div>
			<div class="col-md-1">
				<form action="/jabatan/hapus" id="ubahJabatan" method="post">
					<input type="hidden" name="idJabatan" th:value="${jabatan.id}"/>
					<input class="btn btn-primary" type="submit" value="Hapus">
				</form>
			</div>
		</div>
	</body>
</html>